body {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: blue;
}

p {
    color: black;
}


/* TABLET: To kolonner */
        @media (min-width: 768px) {
            h1 {
                font-size: 32px;
            }
            
            .grid {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        /* DESKTOP: Tre kolonner */
        @media (min-width: 1024px) {
            h1 {
                font-size: 40px;
            }
            
            .grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
