body {
    background-color: rgba(127, 255, 212, 0.575);
}

img {
    max-width: 100%;
}


/* TABLET: To kolonner */
        @media (min-width: 768px) {
            h1 {
                font-size: 32px;
            }
            
            .grid {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        /* DESKTOP: Tre kolonner */
        @media (min-width: 1024px) {
            h1 {
                font-size: 40px;
            }
            
            .grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
