body {
  background-color: #ba0c2f;
  font-family: cursive;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #e5e5e5;
}

h3 {
  color: #e5e5e5;
}

article {
  color: #e5e5e5;
}
.divContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto; /* 3 kolonner, hver 100px bred */
  grid-template-rows: auto; /* 2 rader, hver 100px høy */
  gap: 10px; /* Mellomrom mellom cellene */
}

/* TABLET: To kolonner */
@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* DESKTOP: Tre kolonner */
@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
